.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* share style */
.texy-primary {
  color: #FD6E0A;
}

.header{
  background-image: url(images/developer.png), url(images/header_bg.png);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, bottom right;;
}

/* Nav Style */
nav {
  display : flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}


.btn-primary {
  background-color: #FD6E0A;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.nav-title {
  font-weight: 800;
  font-size: 45px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin-right: 51px;
  /* display: inline-block; */
}

nav ul li a {
  text-decoration: none;
  color: #474747;
  font-size: 20px;
}



/* Banner grittings */

.banner-greetings {
  color: #474747 ;
  font-size: 45px;
  font-weight: 600;
}

.banner-tittle {
  font-size: 85px;
  font-weight: bold;
}

.banner-discription {
  font-size: 18px;
  color: #757575;
}

.bannner-profile-pic{
  width: 584px;
  height: 676px;
}

.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 230px; 
}

.banner-contant {
  max-width: 580px;
  height:356px;
}